<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://connapswebapi20160926090904.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>connapswebapi20160926090904.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConnApsWebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ConnApsWebAPI20160926090904</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=connapsdb.database.windows.net;Initial Catalog=User;User ID=sepg4sa;Password=&quot;Z\%;h~Zkh69PRT{3&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ConnApsWebAPI.Models.ApplicationDbContext, ConnApsWebAPI" MigrationConfiguration="ConnApsWebAPI.Migrations.Configuration, ConnApsWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Model" Order="2" Enabled="True">
          <Destination Path="Data Source=connapsdb.database.windows.net;Initial Catalog=ConnApsDB;Persist Security Info=True;User ID=sepg4sa;Password=&quot;Z\%;h~Zkh69PRT{3&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ConnApsDomain.ConnApsContext, ConnApsDomain" MigrationConfiguration="ConnApsDomain.Migrations.Configuration, ConnApsDomain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=connapsdb.database.windows.net;Initial Catalog=User;User ID=sepg4sa;Password="Z\%;h~Zkh69PRT{3"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model-Web.config Connection String">
      <ParameterValue>Data Source=connapsdb.database.windows.net;Initial Catalog=ConnApsDB;Persist Security Info=True;User ID=sepg4sa;Password="Z\%;h~Zkh69PRT{3"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>