<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" deliveryFormat="SevenBit"  from="conn.aps.sup@gmail.com">
        <network host="smtp.gmail.com" port="587" defaultCredentials="true" enableSsl="true" password="L-j&#38;K9hd=/8}9wqTXt"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>